fastapi
uvicorn[standard]
python-multipart
requests

numpy
pillow
matplotlib
opencv-python-headless

torch
torchvision
timm

ultralytics

git+https://github.com/dhkim2810/MobileSAM.git

pyyaml
jinja2

pytest>=7.4.4

